body, html {
  height: 100%;
}

.bg-parallax {
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &#top-pic {
    min-height: 100%;
    background-image: url('../img/top.jpg');
  }

  &#me-pic {
    min-height: 50%;
    background-image: url('../img/me.jpg');
  }

  &#skillsample-pic {
    min-height: 50%;
    background-image: url('../img/skillsample.jpg');
  }

  &#hobbies-pic {
    min-height: 50%;
    background-image: url('../img/hobbies.png');
  }
}

.caption {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;

  .bg-gray {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    border-radius: 7px;
  }
}

.comment {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  color: white;

  .bg-gray {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 2px 0 2px 2px;
    border-radius: 2px;
  }
}

.content-wrapper {
  padding: 50px 0;
  h3 {
    letter-spacing: 3px;
  }
}

.footer-links {
  background-color: #ddd;
  padding-top: 20px;

  ul {
    margin: 0 0;
    text-align: center;
    text-decoration: none;
  }

  li {
    display: inline-block;
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .bg-parallax {
    min-height: 100%;
    background-attachment: scroll;
  }
}
