@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  font-family: "Montserrat" !important, sans-serif;
}

body, html {
  height: 100%;
}

.bg-parallax {
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.comment {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  color: white;
}

.bg-parallax#top-pic {
  min-height: 100%;
  background-image: url('../img/top.jpg');
}

.bg-parallax#me-pic {
  min-height: 50%;
  background-image: url('../img/me.jpg');
}

.bg-parallax#skillsample-pic {
  min-height: 50%;
  background-image: url('../img/skillsample.jpg');
}

.bg-parallax#hobbies-pic {
  min-height: 50%;
  background-image: url('../img/hobbies.png');
}

.content-wrapper {
  padding: 50px 0;
}

.caption .bg-gray {
  background-color: #aaa;
  padding: 10px 10px;
}

.comment .bg-gray {
  background-color: #aaa;
  padding: 2px 0 2px 2px;
}

.footer-links {
  background-color: #ddd;
  padding-top: 20px;
}

.footer-links ul {
  margin: 0 0;
  text-align: center;
  text-decoration: none;
}

.footer-links li {
  display: inline-block;
  padding: 0 10px;
}

@media (max-width: 500px) {
  .bg-parallax {
    min-height: 100%;
    background-attachment: scroll;
  }
}
