@import "https://fonts.googleapis.com/css?family=Montserrat";

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
}

h2 {
  font-size: 4.2rem;
  font-weight: 300;
}

h3 {
  font-size: 3.6rem;
  font-weight: 300;
}
